.mutable-list {

  div.panel-body {
    padding: 0.5em;
    height: 8.6em;
    overflow-y: auto;

    .list-group-item {
      padding: 0.5em;
      background: whitesmoke;
      border: 1px solid lightgray;

    }

    .list-group {
      margin-bottom: 0;
    }
  }

  div.panel-footer {
    padding:0.5em;
  }
}
