.chapter-symbol {
  display: inline-block;
  height: 1em;
  width: 1em;
  border-radius: 0.5em;
  border: 1px solid black;
  vertical-align: text-top;
  margin-right: 0.25em;
}

.page-selected {
  background-color: lightblue;
}