<template>
    <require from="../../components/story/story-details-form"></require>
    <require from="../icons/information-icon.html"></require>
    <require from="components/elements/toggle-switch/toggle-switch"></require>


    <story-details-form story.bind="story" dirty.bind="dirty" valid.bind="valid"></story-details-form>
    <div class="panel panel-default">
        <div class="panel-heading">
            Advanced
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <p>
                        <button class="btn btn-primary btn-block" data-toggle="tooltip"
                                title="Download the JSON version of your story in its reading format."
                                click.delegate="downloadJson()" if.bind="!buildingJSON"
                                disabled.bind="canNotPublish || dirty"><span
                                class="glyphicon glyphicon-download-alt"></span> Download Story JSON
                        </button>
                        <button class="btn btn-danger btn-block" disabled if.bind="buildingJSON"><span
                                class="glyphicon glyphicon-refresh"></span> Building JSON...
                        </button>
                    </p>
                    <a ref="downloadJsonLink" hidden="true" download></a>
                </div>
            </div>
            <div class="well" if.bind="jsonDownloadResults">
                <div if.bind="jsonDownloadResults">${jsonDownloadResults}</div>
            </div>
            <div>
                <label for="logLocations">Log Reader Locations:
                    <information-icon
                            help-text="If enabled, this will allow admins to track the locations of readers as they read the story."></information-icon>
                </label>
                <toggle-switch id="logLocations" checked.bind="story.logLocations" off="No" on="Yes"
                               colourise="yes-no"
                               change.delegate="setDirty()"></toggle-switch>
            </div>
        </div>
    </div>
    <div class="panel panel-default" if.bind="canSeeAdminPanel()">
        <div class="panel-heading">
            Admin
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <label for="storyOwnerDropdown">Select story owner:</label>
                    <select value.bind="storyOwner" class="form-control form" id="storyOwnerDropdown">
                        <option repeat.for="user of users" value.bind="user.id">${user.name}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default" if.bind="story.id">
        <div class="panel-heading">
            Publish Story
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <p>
                        <button class="btn btn-primary btn-block" click.delegate="preview()" if.bind="!buildingPreview"
                                disabled.bind="canNotPublish || dirty"><span
                                class="glyphicon glyphicon-eye-open"></span> Preview
                            Story
                        </button>
                        <button class="btn btn-danger btn-block" disabled if.bind="buildingPreview"><span
                                class="glyphicon glyphicon-refresh"></span> Requesting Preview
                        </button>
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <p>
                        <button class="btn btn-primary btn-block" click.delegate="publish()" if.bind="!publishing"
                                disabled.bind="canNotPublish || dirty"><span class="glyphicon glyphicon-book"></span>
                            Request
                            Publication
                        </button>
                        <button class="btn btn-danger btn-block" disabled if.bind="publishing"><span
                                class="glyphicon glyphicon-refresh"></span> Requesting Publication
                        </button>
                    </p>
                </div>
            </div>
            <div class="well" if.bind="results">
                <div if.bind="!isPreviewLink">${results}</div>
                <div if.bind="isPreviewLink">
                    The following link is a one-time preview link, which will expire at midnight.
                    <br/>
                    <a href.bind="results" target="_blank">${results}</a>
                </div>
            </div>
            <div class="well" if.bind="dirty || canNotPublish">
                <span class="text-warning">Please save any changes before you preview or publish your story and ensure the changes are synchronised with the server.</span>
            </div>
        </div>
    </div>
</template>